/*------------------------------------------------------------------------------------------->
<---                                     CORE STYLES                                   -->
<--------------------------------------------------------------------------------------------*/

:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #FE32DE;
  --primaryLight: #ffba43;
  --secondary: #FE32DE;
  --secondaryLight: #ffba43;
  --headerColor: #fafbfc;
  --bodyTextColor: #fafbfc;
  --bodyTextColorWhite: #4e4b66;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  background-color: #1a1a1a;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}


.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 400;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;

  font-family: "Teko", sans-serif;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
  
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  color: #FFFFFF;
}

/* ===================== Fonts ================== */




/*------------------------------------------------------------------------------------------->
<---                                CORE STYLES END                                -->
<--------------------------------------------------------------------------------------------*/


/*================ TOP BUTTON ===================*/
#topButton {
display: none; 
position: fixed; 
bottom: 20px; 
right: 20px; 
z-index: 99; 

border: none; 
outline: none; 
padding: 10px; 
border-radius: 10px; 

cursor: pointer; 
font-size: 18px; 
background-color: #1a1a1a; 
border: 2px solid #FE32DE;
color:#fff;
font-family: "Ubuntu", "sans-serif";

}

#topButton:hover {
  background-color: #000; 

}

/*------------------------------------------------------------------------------------------->
<---                                Navigation Bar                             -->
<--------------------------------------------------------------------------------------------*/




/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #1a1a1a;
    box-shadow: rgba(66, 70, 73, 0.2) 0px 8px 15px;
    position: fixed;
    z-index: 10000;
  }

  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

  #cs-navigation .cs-title {
      padding-top:30px;
    font-size: 90px;
  }

  #cs-navigation .logo-box {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4.0625rem;
    margin: 0 auto 0 0;

    /* margin-right auto pushes everything away from it to the right */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

  }

  .logo {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 4px -4px #fe32df8e;
  }

  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-optical-sizing: auto;
    color: #FFFFFF;
  }


  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }

  .divider {
    color:#fff;
    font-size:30px;
  }

  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: 20px;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }

  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }

  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }

  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }

/*------------------------------------------------------------------------------------------->
<---                                Navigation Bar       END                      -->
<--------------------------------------------------------------------------------------------*/

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  #hero-1426 {
    /* Centers button */
    text-align: center;
    /* 200px - 300px - leaving extra space for the navigation */
    padding: 300px 0px;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  #hero-1426 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  #hero-1426 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.48;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }

  #hero-1426 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;

  }

  #hero-1426 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 99px;
  }

  #hero-1426 .cs-content {
    width: 100%;
    max-width: 39.375rem;
  }


  #hero-1426 .cs-title {
    /* 39px - 61px */
    font-size: 100px;
    margin-top: 40px;
    line-height: 0.7em;
    text-align: center;
    max-width: 51.8125rem;
    position: relative;

    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
  }

  #hero-1426 .subtitle {
    /* 16px - 20px */
    font-size: 60px;
    line-height: 0.5em;
    text-align: center;
    width: 100%;
    /* 464px - 622px */
    margin: 0 auto 0;
    margin-bottom: 40px;

    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
  }

  #hero-1426 .cs-text {
    /* 16px - 20px */
    font-size: 40px;
    line-height: 0.5em;
    text-align: center;
    width: 100%;
    /* 464px - 622px */
    margin: 0 auto 0;
    margin-bottom: 40px;

  }




  #hero-1426 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  #hero-1426 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fafbfc;
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }

  #hero-1426 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }

  #hero-1426 .cs-button-solid:hover:before {
    width: 100%;
  }

  #hero-1426 .cs-button1 {
    background-color: #1a1a1a;
    border:3px solid #FE32DE;
  }


/*-- -------------------------- -->
<---      Hero END        -->
<--- -------------------------- -*/

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

#RTsbs-1009,
#RTsbsr-1009,
#RTsbst-1009 {
  padding: var(--sectionPadding);
  background-color: #161616;

}

#RTsbs-1009 .cs-container,
#RTsbsr-1009 .cs-container,
#RTsbst-1009 .cs-container {

  margin: auto;
  display: flex;

  max-width: 80rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* 100px - 200px */
  gap: clamp(6.25rem, 13vw, 12.5rem);
}

#RTsbs-1009 .cs-content,
#RTsbsr-1009 .cs-content,
#RTsbst-1009 .cs-content {
  /* set text align to left if content needs to be left aligned */
  text-align: left;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  /* centers content horizontally, set to flex-start to left align */
  align-items: flex-start;

  flex: none;
  width: 54%;
  max-width: 33.875rem;
}

#RTsbs-1009 .cs-text,
#RTsbsr-1009 .cs-text,
#RTsbst-1009 .cs-text {
  margin-bottom: 1rem;
}

#RTsbs-1009 .cs-text:last-of-type,
#RTsbsr-1009 .cs-text:last-of-type,
#RTsbst-1009 .cs-text:last-of-type {
  margin-bottom: 2rem;
}

#RTsbs-1009 .cs-button-solid,
#RTsbsr-1009 .cs-button-solid,
#RTsbst-1009 .cs-button-solid {
  font-size: 1rem;
  /* 46px - 56px */
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #fff;
  min-width: 9.375rem;
  padding: 0 2rem;
  background-color: #1a1a1a;
  border:3px solid #FE32DE;
  display: inline-block;
  position: relative;
  z-index: 1;
  /* prevents padding from adding to the width */
  box-sizing: border-box;
  border-radius: 15px;
}

#RTsbs-1009 .cs-button-solid:before,
#RTsbsr-1009 .cs-button-solid:before,
#RTsbst-1009 .cs-button-solid:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: #000;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s;
  border-radius: 15px;

}

#RTsbs-1009 .cs-button-solid:hover:before,
#RTsbsr-1009 .cs-button-solid:hover:before,
#RTsbst-1009 .cs-button-solid:hover:before {
  width: 100%;
}

#RTsbs-1009 .cs-image-group,
#RTsbsr-1009 .cs-image-group,
#RTsbst-1009 .cs-image-group {
  width: 100%;
  max-width: 33.875rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#RTsbs-1009 .cs-picture,
#RTsbsr-1009 .cs-picture,
#RTsbst-1009 .cs-picture {
  width: 100%;
  border: 6px solid #FE32DE;
  background-color: #fff;
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;

  height: 28.75rem;
  aspect-ratio: initial;
}

#RTsbs-1009 .cs-picture img,
#RTsbsr-1009 .cs-picture img,
#RTsbst-1009 .cs-picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* makes it behave like a background image */
  object-fit: cover;
}

#RTsbs-1009 .cs-flex-group,
#RTsbsr-1009 .cs-flex-group,
#RTsbst-1009 .cs-flex-group {
  flex-direction: row;
}


/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

  #RTsbsr-1009 {
    background-color: #1a1a1a;
  }


  #RTsbsr-1009 .cs-container {
    justify-content: flex-end;
  }

  #RTsbsr-1009 .cs-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
  }

#RTsbst-1009 a, #RTsbsr-1009 a{
  text-decoration: none;
  color:#FE32DE;
}

/*-- -------------------------- -->
<--- Side By Side END-->
<--- -------------------------- -*/

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

#contact-1184 {
  padding: var(--sectionPadding);
  background-color: #1a1a1a;
  position: relative;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
}

#contact-1184 .cs-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  /* 16px - 52px */
  gap: clamp(1rem, 2vw, 3.25rem);


}

#contact-1184 .cs-content {
  /* set text align to left if content needs to be left aligned */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* centers content horizontally, set to flex-start to left align */
  align-items: center;


  width: 45%;
  max-width: 33.875rem;
  flex: none;


}

#contact-1184 .cs-title {
  margin: 0 0 2rem 0;
  font-size: 80px;
}

#contact-1184 .cs-form {
  width: 100%;
  /* 24px - 48px top and bottom */
  /* 24px - 32px left and right */
  padding: clamp(1.5rem, 4vw, 3rem) clamp(1.5rem, 3vw, 2rem);
  /* prevents flexbox from affecting height and width */
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

#contact-1184 .cs-label {
  /* 14px - 16px */
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}

#contact-1184 .cs-input {
  font-size: 1rem;
  width: 100%;
  height: 3.5rem;
  padding: 0;
  padding-left: 1.5rem;
  color: #000;
  background-color: #c7c7c7;
  box-sizing: border-box;
}

#contact-1184 .cs-input::placeholder {
  color: #7d799c;
  opacity: 0.6;
}

#contact-1184 .cs-textarea {
  min-height: 7.5rem;
  padding-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: inherit;
}

#contact-1184 .cs-button-solid {
  font-size: 1rem;
  /* 46px - 56px */
  line-height: clamp(2.875em, 5.5vw, 3.5em);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #fff;
  border: none;
  min-width: 9.375rem;
  padding: 0 1.5rem;
  background-color: #252525;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  /* prevents padding from adding to the width */
  box-sizing: border-box;
  transition: color 0.3s;
}

#contact-1184 .cs-button-solid:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: #000;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.25rem;
}

#contact-1184 .cs-button-solid:hover {
  color: #fff;
}

#contact-1184 .cs-button-solid:hover:before {
  width: 100%;
}

#contact-1184 .cs-button-solid:focus{
  background:#fff;
  color:#000;
}

#contact-1184 .cs-button-solid:active{
  background:#fff;
  color:#000;
}

#contact-1184 .cs-submit {
  min-width: 17.6875rem;
  border-radius: 0;
}

#contact-1184 .cs-submit:hover {
  cursor: pointer;
}

#contact-1184 .cs-submit:focus {
  cursor: pointer;
  background:#fff;
  color:#fff;
}

/*-- -------------------------- -->
<---          Contact END           -->
<--- -------------------------- -*/

/*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/

#map-720 {
  min-height: 33.75rem;

  padding-inline: 0;
  /* Give room between elements above and below, but then remove the left and right padding so it spans the entire screen width */

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*-- -------------------------- -->
<---            Map END             -->
<--- -------------------------- -*/

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

#cs-footer-269 {
  /* 60px - 100px top and bottom */
  padding: 60px 1rem;
  background-color: #161616;
  /* Navigation Links */
  /* Contact Links */
}

#cs-footer-269 .cs-container {

  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* 68px - 100px */
  column-gap: clamp(4.25rem, calc(10%), 6.25rem);

  max-width: 80rem;
  row-gap: 0;
}

#cs-footer-269 .cs-logo-group {
  width: auto;
  /* pushes everything to the right of it as far as possible in a flexbox */
  margin-right: auto;
}

#cs-footer-269 .cs-logo {
  /* 210px - 240px */
  width: clamp(13.125rem, 8vw, 15rem);
  height: auto;
  display: block;
  /* 28px - 44px */
  margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
}

#cs-footer-269 .cs-logo-img {
  width: 100%;
  height: auto;
}

#cs-footer-269 .cs-text {
  /* 14px - 16px */
  font-size: clamp(0.875rem, 2.5vw, 1rem);
  line-height: 1.5em;
  color:#f7f7f7;

  width: 80%;
  max-width: 19.0625rem;
  margin: 0;
}

#cs-footer-269 .cs-nav {
  padding: 0;
  margin: 0;
  /* 8px - 12px */
  margin-top: clamp(0.5rem, 1.2vw, 0.75rem);
}

#cs-footer-269 .cs-nav-li {
  list-style: none;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
}

#cs-footer-269 .cs-nav-li:last-of-type {
  margin-bottom: 0;
}

#cs-footer-269 .cs-header {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 0.875rem;
  color:#f7f7f7;
  position: relative;
  display: block;
  font-family: "Ubuntu", "sans-serif";
}

#cs-footer-269 .cs-nav-link {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5em;
  color:#f7f7f7;
  position: relative;
  font-family: "Ubuntu", "sans-serif";
}

#cs-footer-269 .cs-nav-link:before {
  /* underline */
  content: "";
  width: 0%;
  height: 0.125rem;
  /* current color of the parent */
  background: currentColor;
  opacity: 1;
  position: absolute;
  display: block;
  bottom: -0.125rem;
  left: 0;
  transition: width 0.3s;
  color:#f7f7f7;
}

#cs-footer-269 .cs-nav-link:hover:before {
  width: 100%;
}

#cs-footer-269 .cs-contact {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  /* 8px - 12px */
  margin-top: clamp(0.5rem, 1.2vw, 0.75rem);
}

#cs-footer-269 .cs-contact-li {
  list-style: none;
  margin-bottom: 0rem;
  color:#f7f7f7;
font-family: "Ubuntu", "sans-serif";
}

#cs-footer-269 .cs-contact-li:last-of-type {
  margin-bottom: 0;
}

#cs-footer-269 .cs-contact-link {
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5em;
  text-align: left;
  color:#f7f7f7;
  display: inline-block;
}

#cs-footer-269 .cs-contact-link:hover {
  text-decoration: underline;
}

#cs-footer-269 .cs-address {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

#cs-footer-269 .cs-social-group {
  /* pushes away from the other flex items */
  margin-top: auto;
  margin-left: auto;
}

#cs-footer-269 .cs-social {
  display: inline-flex;
  justify-content: flex-start;
  gap: 0.75rem;
}

#cs-footer-269 .cs-social-link {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #4e4b66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition:
    transform 0.3s,
    background-color 0.3s;
}

#cs-footer-269 .cs-social-link:hover {
  background-color: var(--primary);
  transform: translateY(-0.1875rem);
}

#cs-footer-269 .cs-social-img {
  height: 0.8125rem;
  width: auto;
  display: block;
}

#cs-footer-269 .cs-title {
  justify-content: center;
  align-self:center;

}
/*-- -------------------------- -->
<---          Footer       END     -->
<--- -------------------------- -*/